NovaMessageSwitch/WmsServiceModel/Service References/WMS/ServiceForWCS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Nova.WMS.WebSite.Services.ServiceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nova.WMS.WebSite.Services.ServiceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWCSTaskServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WCSTaskServiceModel" nillable="true" type="tns:WCSTaskServiceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWCSTaskServiceModel" nillable="true" type="tns:ArrayOfWCSTaskServiceModel" />
  <xs:complexType name="WCSTaskServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaskId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskLevel" type="xs:int" />
      <xs:element minOccurs="0" name="TaskType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCSTaskServiceModel" nillable="true" type="tns:WCSTaskServiceModel" />
  <xs:complexType name="WCSStockInApplyServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrayCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCSStockInApplyServiceModel" nillable="true" type="tns:WCSStockInApplyServiceModel" />
  <xs:complexType name="WCSTaskDetailServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndCol" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EndDeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndLane" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EndLayer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EndRow" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartCol" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartDeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartLane" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartLayer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartRow" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCSTaskDetailServiceModel" nillable="true" type="tns:WCSTaskDetailServiceModel" />
  <xs:complexType name="ArrayOfWCSLaneServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WCSLaneServiceModel" nillable="true" type="tns:WCSLaneServiceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWCSLaneServiceModel" nillable="true" type="tns:ArrayOfWCSLaneServiceModel" />
  <xs:complexType name="WCSLaneServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lane_Type" type="xs:int" />
      <xs:element minOccurs="0" name="MaxCols" type="xs:int" />
      <xs:element minOccurs="0" name="MaxLayers" type="xs:int" />
      <xs:element minOccurs="0" name="MaxRows" type="xs:int" />
      <xs:element minOccurs="0" name="NO_Lane" type="xs:int" />
      <xs:element minOccurs="0" name="NO_Lane_PLC" type="xs:int" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCSLaneServiceModel" nillable="true" type="tns:WCSLaneServiceModel" />
  <xs:complexType name="ArrayOfWCSPoistionServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WCSPoistionServiceModel" nillable="true" type="tns:WCSPoistionServiceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWCSPoistionServiceModel" nillable="true" type="tns:ArrayOfWCSPoistionServiceModel" />
  <xs:complexType name="WCSPoistionServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Column" type="xs:int" />
      <xs:element minOccurs="0" name="Lane" type="xs:int" />
      <xs:element minOccurs="0" name="Layer" type="xs:int" />
      <xs:element minOccurs="0" name="Position_State" type="xs:int" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
      <xs:element minOccurs="0" name="Update_Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCSPoistionServiceModel" nillable="true" type="tns:WCSPoistionServiceModel" />
  <xs:complexType name="ArrayOfWCSDeviceValueServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WCSDeviceValueServiceModel" nillable="true" type="tns:WCSDeviceValueServiceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWCSDeviceValueServiceModel" nillable="true" type="tns:ArrayOfWCSDeviceValueServiceModel" />
  <xs:complexType name="WCSDeviceValueServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeviceField_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceField_Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Device_Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCSDeviceValueServiceModel" nillable="true" type="tns:WCSDeviceValueServiceModel" />
  <xs:complexType name="ArrayOfWCSPLCServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WCSPLCServiceModel" nillable="true" type="tns:WCSPLCServiceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWCSPLCServiceModel" nillable="true" type="tns:ArrayOfWCSPLCServiceModel" />
  <xs:complexType name="WCSPLCServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="PLC_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLC_IsOnline" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCSPLCServiceModel" nillable="true" type="tns:WCSPLCServiceModel" />
</xs:schema>