NovaMessageSwitch/WmsServiceModel/Service References/WMS/ServiceForWCS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49806/Services/ServiceForWCS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Nova.WMS.WebSite.Services.ServiceModel" />
  <xs:element name="GetTaskList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Nova.WMS.WebSite.Services.ServiceModel" minOccurs="0" name="GetTaskListResult" nillable="true" type="q1:ArrayOfWCSTaskServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStockInApply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Nova.WMS.WebSite.Services.ServiceModel" minOccurs="0" name="stockInApply" nillable="true" type="q2:WCSStockInApplyServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStockInApplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendStockInApplyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkTaskAsSend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commandNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkTaskAsSendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarkTaskAsSendResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkTaskAsDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkTaskAsDoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarkTaskAsDoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Nova.WMS.WebSite.Services.ServiceModel" minOccurs="0" name="GetTaskDetailResult" nillable="true" type="q3:WCSTaskDetailServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaneList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaneListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Nova.WMS.WebSite.Services.ServiceModel" minOccurs="0" name="GetLaneListResult" nillable="true" type="q4:ArrayOfWCSLaneServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sinceTime" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Nova.WMS.WebSite.Services.ServiceModel" minOccurs="0" name="GetPositionListResult" nillable="true" type="q5:ArrayOfWCSPoistionServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDeviceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDeviceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Nova.WMS.WebSite.Services.ServiceModel" minOccurs="0" name="GetAllDeviceListResult" nillable="true" type="q6:ArrayOfWCSDeviceValueServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepAliveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePLC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Nova.WMS.WebSite.Services.ServiceModel" minOccurs="0" name="plcList" nillable="true" type="q7:ArrayOfWCSPLCServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePLCResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>